{
  "env": {
    "browser": 1                                                // http://eslint.org/docs/user-guide/configuring#specifying-environments
  },
  "globals": {                                                  // http://eslint.org/docs/user-guide/configuring#specifying-globals
    // jQuery
    "$": 1,
    "$j": 1,
    "angular": 1
  },
  "rules": {
    "quotes": [2, "single", "avoid-escape"],                    // http://eslint.org/docs/rules/quotes
    "no-use-before-define": 2,                                  // http://eslint.org/docs/rules/no-use-before-define
    "curly": [2, "multi-line"],                                 // http://eslint.org/docs/rules/curly
    "eqeqeq": [2, "smart"],                                     // http://eslint.org/docs/rules/eqeqeq
    "indent": [2, 2],                                           // http://eslint.org/docs/rules/indent
    "no-multiple-empty-lines": [2, {  "max": 1 }],              // http://eslint.org/docs/rules/no-multiple-empty-lines
    "one-var": [2, "never"],                                    // http://eslint.org/docs/rules/one-var
    "no-catch-shadow": 0,                                       // http://eslint.org/docs/rules/no-catch-shadow
    "no-wrap-func": 0,                                          // http://eslint.org/docs/rules/no-wrap-func
    "no-unused-vars": [1, { "vars": "local" }],                 // http://eslint.org/docs/rules/no-unused-vars
    "camelcase": [2, {properties: "never"}]                     // http://eslint.org/docs/rules/camelcase
  }
}