<ion-view title="Feed" id="feed-view">
  <ion-nav-title>lapappap</ion-nav-title>
  <ion-content>
    <!-- <div class="padding login-status">
      <span ng-if="loggedIn()">:)</span>
      <span ng-if="!loggedIn()">:(</span>
    </div> -->
    <div class="padding">
      <div class="a-spot" ng-repeat="spot in spots" data-id="{{ spot.id }}">
        <h2 class="spot-nickname">{{ spot.nickname }}</h2>
        <h6 class="spot-name"><em>{{ spot.name }}</em></h6>
        <p class="spot-description">{{ spot.description }}</p>
        <address>{{ spot.address.street }} {{ spot.address.number }}</address>
      </div>
    </div>
  </ion-content>
</ion-view>